<div class="p-6 bg-gray-100 min-h-screen">
  <!-- Search Component -->
  <app-search (searchData)="handleSearchData($event)" class="mb-6"></app-search>

  <!-- Loading State -->
  <!-- <div *ngIf="loading" class="text-center text-blue-500 font-semibold text-lg">
    Loading...
  </div>

  Error State -->
  <!-- <div *ngIf="error" class="text-center text-red-500 font-semibold text-lg">
    {{ error }}
  </div> -->

  <!-- Anime Data -->
  <div *ngIf="animeData.length > 0">
    <h3 class="text-2xl font-bold text-gray-800 mb-4">Fetched Anime:</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Anime Card -->
      <div *ngFor="let anime of animeData" class="bg-white shadow-lg rounded-lg overflow-hidden">
        <!-- Placeholder for anime image -->
        <img [src]="anime.image_link || 'https://via.placeholder.com/300x200?text=No+Image'" [alt]="anime.anime_name"
          class="w-full h-48 object-cover" />
        <div class="p-4">
          <h4 class="text-lg font-bold text-gray-900 truncate">
            {{ anime.anime_name }}
          </h4>
          <p class="text-sm text-gray-500">
            {{ anime.category || 'Genres not available' }}
          </p>
          <p class="text-gray-700 mt-2 text-justify text-sm line-clamp-3">
            {{ anime.description || 'Synopsis not available' }}
          </p>
          <a *ngIf="isLoggedIn" [href]="anime.readMore_link" target="_blank"
            class="text-blue-500 text-sm mt-3 inline-block hover:underline">Read More</a>

          <p *ngIf="!isLoggedIn" class="text-gray-500 text-sm mt-3 inline-block">
            Login to read more
          </p>

        </div>
      </div>
    </div>
  </div>
</div>